body {
    background: white;
    text-align: center;
    font-family: bookman;
    margin-bottom: 70px;
  }
header {
    font-size: 28px;
}
h1 {
    margin-top: 56px;
    margin-bottom: 20px;
}
nav a {
    text-decoration: none;
    color: black;
    font-size: 36px;
    margin-left: 14px;
    margin-right: 14px;
}
img {
    width: 100%;
    height: auto;
}
photo img {
    width: 500px;
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}
ul {
    margin-top: 250px;
}
p {
    font-size: 36px;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 800px;
}
hr {
    width: 500px;
    color: black;
}
socials img {
    width: 100px;
    margin-top: 100px;
    margin-left: 24px;
    margin-right: 24px;
}
iframe {
    max-width: 600px;
    height: 150px;
}
@media only screen and (min-device-width: 500px) {
    h1 {
        margin-top: 28px;
        margin-bottom: 2px;
    }
    nav a {
        font-size: 16px;
    }
    photo img {
        width: 400px;
    }
    ul {
        margin-top: 100px;
    }
    p {
        font-size: 18px;
    }
    socials img {
      width: 40px;
      margin-left: 12px;
      margin-right: 12px;
    }
  }