body {
    background: white;
    text-align: center;
    font-family: bookman;
    margin-bottom: 70px;
  }
header {
    font-size: 28px;
}
h1 {
    margin-top: 90px;
    margin-bottom: 35px;
}
nav a {
    text-decoration: none;
    color: black;
    font-size: 36px;
    margin-left: 14px;
    margin-right: 14px;
}
img {
    width: 100%;
    height: auto;
}
picture img {
    width: 500px;
    display: block;
    margin-top: 110px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
    animation: transitionIn 0.75s;
}
ul {
    margin-top: 150px;
}
p {
    font-size: 36px;
    line-height: 1.5;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 800px;
    animation: transitionIn 0.75s;
}
hr {
    width: 500px;
    color: black;
}
icons img {
    width: 100px;
    margin-left: 24px;
    margin-right: 24px;
    animation: transitionIn 0.75s;
}
iframe {
    max-width: 750px;
    height: 220px;
    animation: transitionIn 0.75s;
}
@media only screen and (min-device-width: 500px) {
    h1 {
        margin-top: 28px;
        margin-bottom: 2px;
    }
    nav a {
        font-size: 16px;
    }
    picture img {
        width: 380px;
        margin-top: 100px;
        margin-bottom: 60px;
    }
    ul {
        margin-top: 100px;
    }
    p {
        font-size: 16px;
        line-height: 1.4;
        max-width: 565px;
    }
    icons img {
      width: 40px;
      margin-left: 12px;
      margin-right: 12px;
    }
    iframe {
        max-width: 600px;
        height: 130px;
    }
  }
@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }
    nav a {
        color: white;
    }
}
@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to {
        opacity: 1;
        transform: rotateX(0);
    }
}