body {
    background: white;
    text-align: center;
    font-family: bookman;
    margin-bottom: 70px;
  }
header {
    font-size: 28px;
}
h1 {
    margin-top: 28px;
    margin-bottom: 20px;
}
nav a {
    text-decoration: none;
    color: black;
    font-size: 32px;
    margin-left: 14px;
    margin-right: 14px;
}
img {
    width: 100%;
    height: auto;
}
photo img {
    margin-top: 100px;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}
p {
    font-size: 18px;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 800px;
    margin-bottom: 100px;
}
socials img {
    width: 100px;
    margin-left: 20px;
    margin-right: 20px;
}
@media only screen and (min-device-width: 500px) {
    body h1 {
        margin-bottom: 2px;
    }
    nav a {
        font-size: 16px;
    }
    socials img {
      width: 40px;
      margin-left: 12px;
      margin-right: 12px;
    }
  }